@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*===== NAV =====*/
.off-screen-menu {
    right: -50vw;
    transition: right 0.5s ease-in-out;
}

.off-screen-menu.show {
    right: 0;
}

.off-screen-menu li a {
    color: inherit;
    text-decoration: none;
}

.hamburger-menu {
    right: 0;
}

.patty {
    background-color: #333;
    border-radius: 20px;
}

.hamburger-menu:hover span {
    /* Add hover styles to icon lines here (optional) */
}